<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%></title>
   
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">

</head>
<body style="background-color: rgb(184, 181, 179);">

    <nav class="navbar navbar-expand-md " id="navStyle">
        <a class="navbar-brand" href="/">HOME</a>             
        <ul class="navbar-nav mr-auto"> 
            <%for(i=0;i<nav.length;i++){%>
            <li class="nav-item "><a class="nav-link" href='<%=nav[i].link%>'><%=nav[i].name%></a></li>
            <%}%>
       </ul>  
    </nav>

    <div class="container-fluid"  id="libraryHeading">
        <div id="libHead"><h3><%=title%></h3></div>
        <div id="blank"></div>
    </div>

    <div class="container" id="profile">

        <div id="firstProfile">
            <div id="firstImage">
                <img src="img/index.jpeg" height="100px" width="100px" alt="">
            </div>
            <div id="firstProfiledata">
                <h2>Books for youth</h2>
                <button>Libpot</button>
            </div>
        </div>
        <hr>
        <div id="secondProfile">
            <div id="secondImage">
                <img src="img/41W-HQxL8eL._SX343_BO1,204,203,200_.jpg" height="100px" width="100px" alt="">
            </div>
            <div id="secondProfiledata">
                <h2>Books on History</h2>
                <button>Libspot</button>
            </div>
        </div>
        <hr>
        <div id="thirdProfile">
            <div id="thirdImage">
                <img src="img/516P5ANw20L.jpg" height="100px" width="100px" alt="">
            </div>
            <div id="thidProfiledata">
                <h2>Science Fiction</h2>
                <button>Libspot</button>               
            </div>
        </div>
        <hr>

        <button id="morebtn">more</button>

    </div>

    <footer>
        <h2>Follow Us</h2>
        <div class="follow">
            <div class="sociallink" style="background-color: rgb(105, 163, 238);"><a href="#">Twitter</a></div>
            <div class="sociallink" style="background-color: darkblue;"><a href="#">Facebook</a></div>
            <div class="sociallink" style="background-color: rgb(231, 15, 15);"><a href="#">Google+</a></div>
        </div>
    </footer>
     
<script src="js/bootstrap.min.js"></script>
<script src="js/script.js"></script>

</body>
</html>