<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">

</head>
<body>

<body style="background-color:#B8B5B3 ;">

    <nav class="navbar navbar-expand-md " id="navStyle">
        <a class="navbar-brand" href='/'>Home</a>                           
    </nav>

    <div class="row" id="signinformContainer" >

        <div id="signupformImage">
                 
        </div>
    
        <div id="signupform">
            <h2>SIGNUP</h2>
            <form action="/signupdata" onsubmit="return submitSignup();">
                <div id="username">
                    <i class="fa fa-fw fa-user" aria-hidden="true"></i>
                    <input required   type="text" placeholder="Name" onchange="Validate(this)">
                    <i id="upusernameCorrect" class="fa fa-fw fa-check-circle"></i>
                    <i id="upusernameWrong" class="fa fa-fw fa-times-circle"></i>
                </div>
                <div id="phonenumber">
                    <i class="fa fa-fw fa-phone"></i>
                    <input required   type="text" placeholder="Phone Number" onchange="phonenumberValidate(this)">
                    <i id="phoneCorrect" class="fa fa-fw fa-check-circle"></i>
                    <i id="phoneWrong" class="fa fa-fw fa-times-circle"></i>
                </div>    
                <div id="email">
                    <i class="fa fa-fw fa-envelope"></i>
                    <input required   type="email" placeholder="Email" onchange="email_validate_signup(this.value)">
                    <i id="emailCorrect" class="fa fa-fw fa-check-circle"></i>
                    <i id="emailWrong" class="fa fa-fw fa-times-circle"></i>
                </div> 
                <div id="cpassword">
                    <i class="fa fa-fw fa-lock"></i>
                    <input required  id="password01"  type="password" placeholder="Create Password" onchange="signupPasswordcheck01(this)">
                    <i id="cpasswordCorrect" class="fa fa-fw fa-check-circle"></i>
                    <i id="cpasswordWrong" class="fa fa-fw fa-times-circle"></i>
                </div> 
                <div id="rpassword">
                    <i class="fa fa-fw fa-lock"></i>
                    <input required  id="password02"  type="password" placeholder="Re-enter Password" onchange="signupPasswordcheck02(this)">
                    <i id="rpasswordCorrect" class="fa fa-fw fa-check-circle"></i>
                    <i id="rpasswordWrong" class="fa fa-fw fa-times-circle"></i>
                </div>
                <div>
                    <input required type="checkbox"  name="terms" onchange="this.setCustomValidity(validity.valueMissing ? 'Please indicate that you accept the Terms and Conditions' : '');" id="field_terms">   <label for="terms">I agree with the <a href="terms.php" title="You may read our terms and conditions by clicking on this link">terms and conditions</a> </label><span class="req">* </span>					
                </div>
                    
                <button type="submit">Register</button>            
                          
            </form>

        </div>
    </div>
        
    
    <footer>
        <h2>Follow Us</h2>
        <div class="follow">
            <div class="sociallink" style="background-color: rgb(105, 163, 238);"><a href="#">Twitter</a></div>
            <div class="sociallink" style="background-color: darkblue;"><a href="#">Facebook</a></div>
            <div class="sociallink" style="background-color: rgb(231, 15, 15);"><a href="#">Google+</a></div>
        </div>
    </footer>
    
<script src="js/bootstrap.min.js"></script>
<script src="js/script.js"></script>
</body>
</html>