<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup page</title>
</head>
<body>
    
    <div id="insuccess">
        <h3>Successfully Loged IN!!!!!!..........</h3>
    </div>


</body>
</html>